<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Resume</title>
</head>
<body>

    <form action="/" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}
        </div>

        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </div>

        <div>
            {{ form.company.label }}<br>
            {{ form.company(size=40) }}
        </div>
        <div>
            {{ form.job_role.label }}<br>
            {{ form.job_role(size=40) }}
        </div>

        <div>
            {{ form.job_description.label }}<br>
            {{ form.job_description(size=40) }}
        </div>
        
        <div>
            {{ form.file.label }}<br>
            {{ form.file() }}
        </div>
        
        <div>
            {{ form.submit() }}
        </div>
    </form>

    {% if message %}
        <div style="margin-top: 10px; color: green;">
            {{ message }}
        </div>
    {% endif %}

</body>
</html>
